.about{
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    background-color: var(--background-color);

    section{ 
        transition: all 2s;

        width: 100vw;
        height: 60vh;
        line-height: 4rem;
        padding: 10px;
        background-color: var(--backgroundColorTenis);
        margin-top: 5%;
        color: var(--fontTextColorAbout);
    }
    h1{
        transition: all 1s;
        font-weight: bold;
        font-size: 2.5rem;
        font-family: 'Roboto', sans-serif;  

        span{
            font-family: 'Roboto', sans-serif;
            color: var(--tileColor);
            font-weight: 400;
        }
    }

}

.links{
    a{
        padding: 0 1% ;
    }
}

@media (max-width: 600px){
    .about{
        section{
            transition: all 2s;
            height: 80vh;
            h1{
                transition: all 1s;
                font-size: 1.5rem;
            }
        }
    }
}