.nav{
    background-color: var(--navTextColor);
    width: 100%;
    display: flex;
    flex-direction: row;
    
    h3{
        padding-left: 10%;
        font-weight: 700;
        font-family: sans-serif;
        color: var(--tileColor);
        display: flex;
        justify-content: left;
        align-items: center;
        a{
            font-size: 1.5rem;
        }
        
    }

    a{
        display: flex;
        justify-content: left;
        align-items: center;
        padding-left: 3%;
        color: var(--linkColor);
        text-decoration: none;
        font-size: 1.1rem;
    }
}